.top_bar, .side_bar, .top_bar div{
    background:#fff;
    -webkit-filter: drop-shadow(0 0 10px #eee);
    filter: drop-shadow(0 0 10px #eee);
}
.top_bar {
    display: block;
}
.top_bar span{
    padding: 20px 42px;
    color:#10266b;
}
.side_bar{
    width:250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
}
.side_bar ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.side_bar ul li a, siebar li {
    color: #10266b;
    font-size: 16px;
    line-height:1.8;
    background: #fff ;
    display: block;
    padding: 3px 21px;
    border: 2px solid #fff;
    
}
.admin{
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #10266b;
    padding-top:20px !important;
    padding-bottom: 20px !important;
}
.page_wrapper{
    margin-left: 250px;
   
}
.page_wrapper .content{
    padding:7% 2%;
}
.m-t-40{
    margin-top:40px;
}

.logout{
    cursor:pointer;
}
.logout:hover{
    -webkit-filter: drop-shadow(0 0 10px #eee);
    filter: drop-shadow(0 0 10px #eee);
}