<div class="">
 
    <div class="side_bar">
        <ul>
            <li class="admin">Admin</li>
            <li>
                <a [routerLink]="['/layout/blogs']" >Blog</a>
            </li>
        </ul>
    </div>
    <div class="page_wrapper">
            <div class="top_bar">
                    <div >
                        <span class="float-right" (click)="logOut()">Logout</span>
                    </div>
                </div>
        <div class="content">
            <div class="m-t-40">
            <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>