.head{
    position: absolute;
  
    width: 100%;
}
.title, .title:focus{
    text-decoration: none;
    outline:0 !important;
    box-shadow: 0 !important;
    cursor: pointer;
}
.title h1{
    color: #10266b;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.head nav{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    border: 0;
    padding:30px 0;
}

