<section class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12">
                <h3 class="text-center blog_head">Blog Detail</h3>
            </div>
        </div>
    </div>
</section>
<div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12" >
                <div class="blog_contain">
                    <img src="../../../../assets/img/17.jpg" class="img-fluid">
                    <div class="blog_content">
                        <p>{{blogDetail.update_at | date: 'medium'}}</p>
                        <h3>{{blogDetail.title}}</h3>
                        <p>{{blogDetail.description}}</p>
                        <a [routerLink]="['/blog']" title="Go To Blog List Page">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>