<div class="header">
    <section id="header">
        <div class="header_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-12">
                        <div class="head_content">
                            <div>
                            <div class="head_head">
                                <h1><span>Digital</span> Website</h1>
                            </div>
                            <div class="head_sub">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                            <div class="bttns ">
                                <div class="text-left">
                                    <button class="btn btn_custom mr-10">Request Quote</button>
                                    <button class="btn btn_custom">Start Now</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 co-sm-4 hidden-xs">
                        <div class="head_img">
                            <img src="../../../../assets/img/img.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>