<section class="">
    <div class="head_content">
        <h3>About<br>Us</h3>
       <div class="container">
           <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-9">
                   <div class="content_head">
                       <h1>We Are Here
                            For Made Your Idea</h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt ut labore et dolore magna aliqua ut enim adminim veni am for humanity for savings anything for your future.

                        </p>
                       <div class="text-left">
                           <button class="btn btn_custom">View More</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <img src="../../../../assets/img/agency-abs-img.png"/>
       <img src="../../../../assets/img/image.png"/>
    </div>
</section>