
    <div class="head_content">
        <div class="sec">
        <h3>About<br>Us</h3>
       <div class="container">
           <div class="row">
               <div class="col-md-3 col-sm-3 col-12">
       <img src="../../../../assets/img/agency-abs-img.png" class="abs_image_back "/>

               </div>
               <div class="col-md-9 col-sm-3 col-12">
                   <div class="content_head">
                       <h1>We Are Here<br>
                            For Made Your Idea</h1>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt ut labore et dolore magna aliqua ut enim adminim veni am for humanity for savings anything for your future.

                        </p>
                       <div class="text-left btn_more">
                           <button class="btn btn_custom">View More</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <img src="../../../../assets/img/image.png" class="img-fluid abs_image_man"/>
       </div>
    </div>