

.head_content{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.head_content h3{
    color: #10266b;
    text-transform: capitalize;
    position: absolute;
    font-size: 150px !important;
    opacity: 0.03;
    left: 250px;
    line-height: 1 !important;
    font-weight: 700 !important;
    top: 0;
    left:20%;
}
.abs_image_back{
    position: relative;
    left: -291px;
    top: -40px;
}
.abs_image_man{
    position: absolute;
    left: 40px;
    top: 3px;
}
.content_head{
    padding:70px 0px;
}
.content_head h1{
    font-size: 280%;
    font-weight: 600;
    margin-top: -16px;
    color: #10266b;
    padding-left:40px;
    border-left:3px solid #10266b;
}
.content_head p{
    line-height: 1.8;
    font-size: 16px;
    padding-left: 40px;
}
.sec {
    position: relative;
    overflow: hidden;
}
.btn_more{
    padding-left: 40px;
}
@media (max-width:1110px){
    .abs_image_back{
        left: -325px;
    }
}