<div class="container-fluid">
    <div class="row wid_100">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12 margin5">
                <div class=""><span class="float-left">
                        <button class="btn btn-delete" data-toggle="modal" title="Add Blog" data-target="#myModal" (click)="reset()">Add Blog</button>
                </span>
                <span class="float-right" *ngIf="page == 1">
                  <div><select class="form-control" [(ngModel)]="list" >
                        <option *ngFor="let option of options" [value]="option">{{option}}</option>
                    </select></div>
                </span>
                </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-title card-header">Blog List
                   
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th style="width: 70px">S. No</th>
                                    <th style="width: 250px">Title</th>
                                    <th>Description</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let blog of blogList  | paginate: { itemsPerPage: list, currentPage: page}; let i=index">
                                    <td>{{((list*page) - list ) +(i+1)}}</td>
                                    <td>{{blog.title}}</td>
                                    <td>{{blog.description}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs btn-add" title="Edit" data-toggle="modal" data-target="#myModal" (click)="edit(blog.id)">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn btn-xs btn-delete" title="Delete" data-toggle="modal" data-target="#deleteModal" (click)="getDeleteData(blog)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="blogList.length === 0">
                                    <td colspan="4">No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <div>  <span class="float-left" *ngIf="blogList.length>list">  <pagination-controls (pageChange)="page = $event" ></pagination-controls></span>
                        <span class="float-right">Total Entries: {{blogList.length}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================================ SUBMIT MODAL ============================================ -->
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header btn-add text-center">
                <h4 class="modal-title ">{{updateForm ? 'Update Blog' : 'Add Blog'}}</h4>
                <button type="button" class="close btn-add" (click)="close()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="blogForm">
                    <div class="form-group">
                        <label for="title">Title
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="Enter Title" id="title" formControlName="title" />
                        <p *ngFor="let validation of validationMessages.title">
                            <span class="text-danger" *ngIf="blogForm.get('title').hasError(validation.type) && (blogForm.get('title').dirty || blogForm.get('title').touched)">
                                {{ validation.message }}
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description
                            <span class="text-danger">*</span>
                        </label>
                        <textarea class="form-control" formControlName="description" placeholder="Enter Description"></textarea>
                        <p *ngFor="let validation of validationMessages.description">
                            <span class=" text-danger" *ngIf="blogForm.get('description').hasError(validation.type) && (blogForm.get('description').dirty || blogForm.get('description').touched)">
                                {{ validation.message }}
                            </span>
                        </p>
                    </div>
                    <div class="text-center">
                        <div class=" ">
                            <button class="btn btn-add mr-10" title="Add" (click)="submit()" *ngIf="!updateForm">Add</button>
                            <button class="btn btn-add mr-10" title="Update" (click)="update()" *ngIf="updateForm">Update</button>
                            <button class="btn btn-delete" title="Reset" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ================================================= DELETE MODAL ================================== -->
<div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header btn-add text-center">
                    <h4 class="modal-title ">Delete</h4>
                    <button type="button" class="close btn-add" (click)="closeDelete()">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="">Do you want to delete this <b>{{blog.title}}</b>  ?</div>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                        <button class="btn btn-add mr-10" title="Delete" (click)="delete(blog.id)" >Delete</button>
                        <button class="btn btn-delete"  title="Close" (click)="closeDelete()">Close</button>
                  
                    <button type="button" id="close-modal-delete" data-dismiss="modal" style="display: none">Close</button>
                </div>
            </div>
        </div>
    </div>