
.card-title{
    background:#10266b;;
    color:#fff;
    padding:14px  10px;
    font-weight:bold;
    font-size:18px;
}
.wid_100{
    width:100%;
}
.btn-add{
    background:#10266b;;
    color:#fff;
}
.btn-delete{
    background: #fff;
    border-color:#10266b;
}
.mr-10{
    margin-right:10px;
}
.margin5{
    margin-bottom: 10px;
}
