
.card-title{
    background:#10266b;;
    color:#fff;
    padding:14px  10px;
    font-weight:bold;
    font-size:18px;
}
.wid_100{
    width:100%;
}
.btn-add{
    background:#10266b;;
    color:#fff;
}