/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Poppins-light';
    src: url('../src/assets/fonts/Poppins-Light.otf') format("opentype");
}
@font-face{
    font-family: 'Poppins-Extralight';
    src: url('../src/assets/fonts/Poppins-ExtraLight.otf') format("opentype");
}
*{
    font-family: 'Poppins-light';
}
button, button:focus , button:active{
    outline: 0 !important;
}
.btn_custom{
    border: transparent;
    background-color: #04185B !important;
    border-radius:25px !important;
    color:#fff !important;
    text-transform: uppercase;
    font-size:16px !important;
    font-weight: 700 !important;
    padding: 10px 53px !important;
}
.btn_custom:hover{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff !important;
    background-position: 100% 0;
    background-image: linear-gradient(to right, #1F357D, #04185B, #04185B, #1F357D);

}
.ngx-pagination {
    background: #0f276b ;
    padding: 4px ;
}
.ngx-pagination li span, .ngx-pagination li a{
    color: #fff !important;

}
.ngx-pagination li:hover span, .ngx-pagination li:hover a, .ngx-pagination .disabled:hover{
    color: #0f276b !important;
    background-color: #fff !important;


}
@media (max-width:1110px) {
    .btn_custom{
        padding: 10px 28px !important;
        font-size:15px !important;
    }
}