/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Poppins-light';
    src: url('../src/assets/fonts/Poppins-Light.otf') format("opentype");
}
@font-face{
    font-family: 'Poppins-Extralight';
    src: url('../src/assets/fonts/Poppins-ExtraLight.otf') format("opentype");
}
*{
    font-family: 'Poppins-light';
}
.btn_custom{
    border: transparent;
    background-color: #04185B !important;
    border-radius:25px !important;
    color:#fff !important;
    text-transform: uppercase;
    font-size:16px !important;
    font-weight: 700 !important;
    padding: 10px 53px !important;
}
.btn_custom:hover{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff !important;
    background-position: 100% 0;
    background-image: linear-gradient(to right, #1F357D, #04185B, #04185B, #1F357D);

}